* {
    margin: 0;
    padding: 0;
}

.first-page {
    background: url(OIP\ \(1\).webp);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.first-page nav {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

.first-page .hrefs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first-page .hrefs a {
    text-decoration: none;
    color: white;
}

.first-page .container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: auto;
    margin: auto;
    margin-top: 100px;
}

.first-page .button {
    background-color: blue;
    border: 100px;
    border-radius: 30px;
    margin-top: 100px;
    
    
}
