* {
    margin: 0;
    padding: 0;
}

.first-page {
    background-color: rgb(0, 57, 163);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.first-page nav {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.first-page img {
    height: 30%;
}

.first-page .hrefs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first-page .hrefs a {
    text-decoration: none;
    color: white;
}
